:root {
    --dark-background-color: #1f2937;
    --hero-main-text-size: 48px;
    --hero-main-text-weight: extra-bold;
    --hero-main-text-color: #f9FAF8;
    --hero-secondary-text-size: 18px;
    --hero-secondary-text-color: #E5E7EB;
    --header-logo-text-size: 24px;
    --header-logo-text-color: #F9FAF8;
    --button-color: #3882F6;
    --information-header-text-size: 36px;
    --information-header-text-weight: extra-bold;
    --information-header-text-color: #1f2937;
    --quote-section-background-color: #e5e7eb;
    --quote-text-size: 36px;
    --quote-text-weight: light;
    --quote-text-style: italic;
    --quote-text-color: #1f2937;
    --left-right-margin-padding: 15%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 150vh;
    margin: 0;
    overflow: scroll;
}

.header {
    background-color: var(--dark-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--left-right-margin-padding);
    
}

.header .logo {
    color: var(--header-logo-text-color);
    font-size: var(--header-logo-text-size);
}

.header .right-links, .secondary-text, button, .hero-image {
    color: var(--hero-secondary-text-color);
    font-size: var(--hero-secondary-text-size);
    
}

.right-links {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.content-1 {
    background-color: var(--dark-background-color);
    padding: 48px var(--left-right-margin-padding);
    display: flex;
}

.hero-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;

}

.main-text {
    font-size: var(--hero-main-text-size);
    font-weight: var(--hero-main-text-weight);
    color: var(--hero-main-text-color);
    padding-right: 32px;
}

.secondary-text {
    padding-right: 32px;
}

button {
    background-color: var(--button-color);
    padding: 8px 32px;
    border-radius: 8px;
    border-style: solid;
}
.hero-box button {
    border-style: none;
}


.hero-image {
    background-color: grey;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-2 {
    color: var(--information-header-text-color);
    /* possibly change size based on layout */
    font-size: var(--hero-secondary-text-size);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 48px var(--left-right-margin-padding);

}

.information-header{ 
    font-size: var(--information-header-text-size);
    font-weight: var(--information-header-text-weight);

}

.random-information-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.illustration {
    height: 100px;
    width: 100px;
    border: solid blue;
    border-radius: 12px;
}

.random-text {
    width: 110px;
    text-align: center;
    
}

.content-3 {
    background-color: var(--quote-section-background-color);
    display: flex;
    flex-direction: column;
    padding: 48px var(--left-right-margin-padding);
    justify-content: center;
}

.quote {
    font-size: var(--quote-text-size);
    font-weight: var(--quote-text-weight);
    font-style: var(--quote-text-style);
    color: var(--quote-text-color)
}

.source {
    align-self: flex-end;
    font-weight: bold;
    font-size: calc(var(--quote-text-size) / 2)
}

/* No color info on source */

.illustration {
    border-color: var(--button-color);
}

.content-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px var(--left-right-margin-padding);
}

.call-to-action {
    background-color: var(--button-color);
    color: var(--hero-secondary-text-color);
    flex: 1;
    padding: 48px var(--left-right-margin-padding);
    display: flex;
    justify-content: space-between;
    border-radius: 12px;

}

.main-call {
    font-size: var(--hero-secondary-text-size);
    font-weight: bold;
}
.content-4 button {
    border-color: var(--hero-secondary-text-color);
}

.content {
    flex: 1;
}

.footer {
    padding: 16px;
    background-color: var(--dark-background-color);
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-text-color)
}